@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

html {
	font-size: 10px;
}

body {
	color: $green;
	font-size: 1.6rem;
	font-family: $font-jost;
	font-size: 1.8rem;
}

.header {
	max-width: 1440px;
	margin: 0px auto;
	padding: 4rem 1.5rem 0rem 1.5rem;
	box-sizing: content-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		gap: 4.8rem;
	}

	&__link {
		color: $green;
		text-decoration: none;
		&:hover {
			color: $orange;
		}
	}

	&__tel {
		color: $green;
		font-weight: 500;
		text-decoration: none;
		&:hover {
			color: $orange;
		}
	}

	&__cart {
		display: block; 
		background-color: $orange;
		width: 3.8rem;
		height: 3.8rem;
		border-radius: 100%;
		background-image: url('../images/cart.svg');
		background-size: 1.7rem 1.5rem;
		background-position: center center;
		background-repeat: no-repeat;
		border: 1px solid $orange;
		position: relative;
		&:hover {
			background-color: $green;
			border: 1px solid $green;
		}
	}

	&__counter {
		color: $white;
		font-size: .8rem;
		position: absolute;
		top: .4rem;
		right: 1rem;
	}
}

.logo {
	display: block;
	background: url('../images/logo.svg') 0 0 no-repeat;
	background-size: cover;
	width: 12.3rem;
	height: 3.2rem;
}

.container {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

.main {
	background: url('../images/main.png') no-repeat;
	background-size: cover;
	background-position-x: center;
	&__item {
		margin-left: 12rem;
		max-width: 378px;
		margin-top: 6rem;
	}

	&__link {
		margin-top: 6rem;
	}
}

.title {
	font-family: $font-cormorant;
	font-weight: 700;
	font-size: 8rem;
	margin: 0px;
	&__span {
		font-style: italic;
	}

	&_block {
		.title__span {
			display: block;
		}
	}
}

.description {
	margin: 0px;
	&_size-s {
		font-size: 1.8rem;
	}
}

.link {
	border-radius: 3.8rem;
	color: $white;
	display: inline-block;
	padding: 2.5rem 4.2rem;
	background-color: $orange;
	box-shadow: 0rem 1.0 1.1rem .2rem rgba(207, 92, 13, 0.2);
	text-transform: uppercase;
	text-decoration: none;
}
	 


